In [55]:
import pandas as pd
from datetime import date, time

In [48]:
df = pd.read_csv('rpt.00013091.0000000000000000.20220101080017.DAMASMCPC_2021.csv')
ts_df = df[['Delivery Date', 'Hour Ending','REGDN']]
ts_df = ts_df.replace('24:00', '00:00')
ts_df['Delivery Date'] = ts_df['Delivery Date'] +' '+ ts_df['Hour Ending']
# ts_df = ts_df.set_index('Delivery Date')

In [51]:
df

     Delivery Date Hour Ending Repeated Hour Flag  REGDN  REGUP     RRS  NSPIN
0       01/01/2021       01:00                  N   1.05    0.01   4.63   0.49
1       01/01/2021       02:00                  N   0.91    4.00   4.21   0.49
2       01/01/2021       03:00                  N   0.47    4.00   4.01   0.71
3       01/01/2021       04:00                  N   0.17    4.00   4.10   0.74
4       01/01/2021       05:00                  N   1.34    4.49   4.50   0.91
...            ...         ...                ...    ...     ...    ...    ...
8755    12/31/2021       20:00                  N  15.01    7.00  11.00   6.56
8756    12/31/2021       21:00                  N  12.00    4.75   8.75   4.96
8757    12/31/2021       22:00                  N   8.80    7.74  11.80   4.62
8758    12/31/2021       23:00                  N   9.00    5.52   8.92   4.15
8759    12/31/2021       24:00                  N   7.78    5.43   8.65   4.00

[8760 rows x 7 columns]

In [49]:
ts_df.iloc[23][1]

'00:00'

In [46]:
ts_df.iloc[23]

Delivery Date    01/01/2021 24:00
Hour Ending                 00:00
REGDN                         6.0
Name: 23, dtype: object

In [99]:
ts_df['Delivery Date'] = pd.to_datetime(ts_df['Delivery Date'])

In [20]:
df['Hour Ending'][0]

'01:00'

In [98]:
ts_df['Delivery Date'][1]

datetime.date(2021, 1, 1)

In [101]:
ts_df['Delivery Date'][1] >= '2021-01-01'

TypeError: '>=' not supported between instances of 'Timestamp' and 'str'

In [84]:
year_selected

'2021'

In [85]:
import calendar

month_selected = "January"

month_names = list(calendar.month_name)
month_number = month_names.index(month_selected)

start_date = date(int(year_selected), month_number, 1)
end_date = date(int(year_selected), month_number, calendar.monthrange(int(year_selected), month_number)[1])

In [83]:
start_date

datetime.date(2021, 1, 1)

In [90]:
end_date

AttributeError: 'datetime.date' object has no attribute 'dt'

In [96]:


mask = (ts_df['Delivery Date'] >= start_date) & (ts_df['Delivery Date'] <= end_date)

In [95]:
ts_df[mask]

    Delivery Date Hour Ending  REGDN
0      2021-01-01       01:00   1.05
1      2021-01-01       02:00   0.91
2      2021-01-01       03:00   0.47
3      2021-01-01       04:00   0.17
4      2021-01-01       05:00   1.34
..            ...         ...    ...
739    2021-01-31       20:00   8.00
740    2021-01-31       21:00   8.00
741    2021-01-31       22:00   7.32
742    2021-01-31       23:00   6.00
743    2021-01-31       00:00   6.00

[744 rows x 3 columns]

In [59]:
import datetime
mydate = datetime.datetime.now()
mydate.strftime("%B")

'October'

In [60]:
mydate

datetime.datetime(2022, 10, 6, 17, 31, 31, 497741)

In [67]:
datem = datetime.datetime.strptime(ts_df['Delivery Date'], "%m/%d/%Y %H:%M")

TypeError: strptime() argument 1 must be str, not Series

In [65]:
datem

datetime.datetime(2021, 1, 1, 2, 0)

In [66]:
month_name = "January"

In [102]:
df

     Delivery Date Hour Ending Repeated Hour Flag  REGDN  REGUP     RRS  NSPIN
0       01/01/2021       01:00                  N   1.05    0.01   4.63   0.49
1       01/01/2021       02:00                  N   0.91    4.00   4.21   0.49
2       01/01/2021       03:00                  N   0.47    4.00   4.01   0.71
3       01/01/2021       04:00                  N   0.17    4.00   4.10   0.74
4       01/01/2021       05:00                  N   1.34    4.49   4.50   0.91
...            ...         ...                ...    ...     ...    ...    ...
8755    12/31/2021       20:00                  N  15.01    7.00  11.00   6.56
8756    12/31/2021       21:00                  N  12.00    4.75   8.75   4.96
8757    12/31/2021       22:00                  N   8.80    7.74  11.80   4.62
8758    12/31/2021       23:00                  N   9.00    5.52   8.92   4.15
8759    12/31/2021       24:00                  N   7.78    5.43   8.65   4.00

[8760 rows x 7 columns]